@charset UTF-8;
/* General
--------------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  height: 100vh;
}

.wrapper {
  display: flex;
}

.icon {
  border-radius: 50%;
  padding: 30px;
  width: 120px;
}
/* Movie
---------------------------------------- */
.bg_movie video{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  z-index: -10;
}

/* Player
---------------------------------------- */
.player_container {
  position: relative;
  justify-content: ;
  align-items: center;
}
.player_container img {
  position: absolute;
  /* height: 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}
.moving_line {

}





/* Sound Picker
---------------------------------------- */
.sound_picker {
  
}

.beach{
  background-color: #A14f49;
}
.rain{
  background-color: #4972A1;
}






